* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;

}

button {
    border: none;
    cursor: pointer;
    color: black;
    background-color: white;

}

li {
    list-style-type: none;

}

.number {
    font-family: Arial, Helvetica, sans-serif;

}

main {
    background-image: url('background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

header {
    width: 100%;
    height: 80px;
    color: white;
    background-color: rgb(21, 21, 22);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 75px;

}

article {
    width: 800px;
    height: 390px;
    margin: 70px auto;
    border-radius: 12%;
    text-align: center;
    background-color: white;
    box-shadow: 3px 5px 6px 0px rgba(0, 0, 0, 0.2), -1px -1px 3px 0px rgba(0, 0, 0, 0.2);

}

img {
    width: 150px;
    height: 250px;
    float: left;
    position: relative;

}

#m-trainer {
    color: black;
    width: 50%;
    float: right;

}

#f-trainer {
    width: 50%;
    float: left;
    color: black;

}

#m-trainer div, #f-trainer div {
    width: 90%;
    height: 100%;
    margin: 15px auto;

}


#m-trainer p, #f-trainer p {
    position: relative;
    left: 10px;
    line-height: 23px;

}

#m-trainer button, #f-trainer button {
    width: 180px;
    height: 40px;
    border-radius: 30%;
    box-shadow: 3px 5px 6px 0px rgba(0, 0, 0, 0.2), -1px -1px 3px 0px rgba(0, 0, 0, 0.2);

}

#m-trainer button:hover, #f-trainer button:hover {
    opacity: 0.8;

}

footer {
    display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-around;
	width: 100%;
	height: 82px;
    color: black;
    background-color: white;
    font-size: 11.5px;
    font-style: italic;
    border-top: 1px solid black;

}

.divs {	
	flex: 0 1 250px;
    text-align: center;
    margin-top: 10px;

}

.uls-title {
    font-weight: bold;
    font-size: 15px;
	text-indent: 0px;
    margin-bottom: 2px;
    
}

.material-icons.md {
    font-size: 12px;
}

.fab {
    color: black;
    font-size: 12px;
    margin-bottom: 2px;
}

#modal-container {
    display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 10;
	position: fixed;
    overflow: auto;
    
}

#modal {
	width: 320px;
	height: 475px;
    color: black;
    background-color: white;
    margin: 120px auto;
    border-radius: 12%;
    font-size: 15px;
    text-align: center;
	box-shadow: 3px 5px 6px 0px rgba(0, 0, 0, 0.2), -1px -1px 3px 0px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    animation: zoom 0.6s;

}

#close-modal {
    width: 80px;
    height: 30px;
    border-radius: 12%;
    margin: auto;
    box-shadow: 3px 5px 6px 0px rgba(0, 0, 0, 0.2), -1px -1px 3px 0px rgba(0, 0, 0, 0.2);

}

#close-modal:hover {
    opacity: 0.8;

}


@media only screen and (max-width:800px) {
    article {
        width: 750px;
    }

}
 
@media only screen and (max-width:420px) {
    header {
        height: 170px;
    }

    article {
        width: 320px;
        height: 1020px;
        border-radius: 6px;
    }

    article h2 {
        margin-top: 30px;
        margin-bottom: 45px;
    }

    #f-trainer {
        width: 100%;
        margin-bottom: 90px;
    }

    #f-trainer button {
        margin-top: 30px;
    }

    #m-trainer {
        width: 100%;
    }

    #m-trainer button {
        margin-top: 10px;
    }

    footer {
        height: 350px;
    }

    #modal {
        margin: 80px auto;
    }

}


@keyframes zoom {
    from { transform: scale(0) } 
    to { transform: scale(1) }
}
